.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkoutTitle {
  margin-right: 10px;
  padding: 10px;
}

.checkoutAd {
  width: 100%;
  margin-bottom: 10px;
}
